:root {
   --board-size: 0;
   --square-size: 35px;
}

* {
   box-sizing: border-box;
}

body {
   height: 100vh;
   width: 100vw;
   display: flex;
   align-items: center;
   justify-content: center;
   background-image: url('../images/ship-background.png');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

.board {
   display: grid;
   grid-template-columns: repeat(var(--board-size), var(--square-size));
   column-gap: 1px;
   /* transform-origin: bottom center;
   transform: perspective(600px) rotatex(45deg); */
}

.board-column {
   display: grid;
   grid-template-rows: repeat(var(--board-size), var(--square-size));
   align-items: stretch;
   justify-content: stretch;
   row-gap: 1px;
}

.square {
   background-color: rgba(0, 255, 255, 0.243);
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   border: 2px white solid;
}

.square:hover {
   background-color: rgba(0, 255, 255, 0.516);
}

.human-board .square:not([occupied-by='null']) {
   background-color: blue;
}

.square[isShot='true'] {
   background-color: black;
}

.square:not([occupied-by='null'])[isShot='true'] {
   background-color: red;
}

.ship {
   display: grid;
   gap: 1px;
   justify-content: center;
   z-index: 10;
}

.ship.placed {
   position: absolute;
   z-index: 10;
   left: -2px;
}

.ship-square {
   height: var(--square-size);
   width: var(--square-size);
   background-color: rgb(175, 0, 0);
   border: 2px rgb(241, 74, 74) solid;
}

.ships-container {
   display: flex;
   align-items: flex-start;
   flex-direction: column;
   gap: 3px;
}

.hide {
   opacity: 40%;
}

.drag-over {
   background-color: rgba(0, 255, 255, 0.516);
}

app-container {
   display: grid;
   grid-template-columns: auto auto;
   align-items: center;
   gap: 3rem;
}

.board-container {
   display: flex;
}

.board-container.computer {
   display: flex;
   flex-direction: row-reverse;
}

.board-avatars {
   display: flex;
   flex-direction: column;
}
