@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

:root {
   --board-size: 0;
   --square-size: 35px;
   --ship: #1e40af;
   --hitShip: #dc2626;
   --borderColor: #e2e8f0;
   --transparent: #0206179f;
   --white: #e2e8f0;
}

* {
   box-sizing: border-box;
}

.game-title {
   font-size: 2.5rem;
   font-family: 'Macondo', cursive;
   background-color: var(--transparent);
   border-radius: 1rem;
   padding: 1rem;
   box-shadow: 0 0 10px var(--borderColor);
}

body {
   height: 100vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-image: url('../images/ship-background.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   color: var(--white);
   gap: 1rem;
   padding: 1rem;
   font-family: 'Macondo', cursive;
}

app-container {
   padding: 2rem 4rem;
   background-color: var(--transparent);
   border-radius: 1rem;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 4rem;

   box-shadow: 0 0 10px var(--borderColor);
}

.board {
   border-radius: 1rem;
   display: grid;
   grid-template-columns: repeat(var(--board-size), var(--square-size));
   column-gap: 1px;
}

.board-column {
   display: grid;
   grid-template-rows: repeat(var(--board-size), var(--square-size));
   align-items: stretch;
   justify-content: stretch;
   row-gap: 1px;
}

.square {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   border: 1px var(--borderColor) solid;
}

.square:hover {
   background-color: #7387be83;
}

.human-board .square:not([occupied-by='null']) {
   background-color: var(--ship);
}

.computer-board .square[isShot='false'] {
   cursor: crosshair;
}

.square:not([occupied-by='null'])[isShot='true'] {
   background-color: var(--hitShip);
}

.square::before {
   display: inline-block;
   font-style: normal;
   font-variant: normal;
   text-rendering: auto;
   -webkit-font-smoothing: antialiased;
   font-family: 'Font Awesome 5 Free';
   font-weight: 900;
}

.square:not([occupied-by='null'])[isShot='true']::before {
   content: '\f00d';
   font-size: 1.4rem;
}

.square[isShot='true']::before {
   content: '\f111';
   font-size: 0.7rem;
}

.ship {
   display: grid;
   gap: 1px;
   justify-content: center;
   z-index: 10;
   cursor: move;
}

.ship.placed {
   position: absolute;
   z-index: 10;
   left: -1px;
}

.ship-square {
   height: var(--square-size);
   width: var(--square-size);
   background-color: var(--ship);
   border: 1px var(--borderColor) solid;
}

.ships-container {
   display: flex;
   flex-direction: column;
   justify-content: start;
   width: 400px;
   height: 400px;
   position: relative;
   gap: 1rem;
   padding: 1rem;
   border-radius: 1rem;
   box-shadow: 0 0 10px var(--borderColor);
}

.ships {
   display: flex;
   align-items: start;
   justify-content: center;
   flex-direction: column;
   gap: 8px;
}

.start-button,
.restart-button {
   outline: none;
   cursor: pointer;
   font-weight: 600;
   border-radius: 3px;
   padding: 12px 24px;
   border: 0;
   color: var(--borderColor);
   box-shadow: 0 0 10px var(--borderColor);
   background: rgba(255, 255, 255, 0);
   line-height: 1.15;
   font-size: 16px;
   right: 1rem;
   bottom: 1rem;
}

.start-button {
   position: absolute;
}

.start-button:hover,
.restart-button:hover {
   color: var(--transparent);
   transition: all 0.1s ease;
   background-color: var(--borderColor);
}

.hide {
   opacity: 40%;
}

.drag-over {
   background-color: #2564eb85;
}

.board-container {
   display: flex;
   gap: 1rem;
}

.board-container.computer {
   display: flex;
   flex-direction: row-reverse;
}

.board-avatars {
   display: flex;
   flex-direction: column;
   justify-content: stretch;
   gap: 1rem;
}

.board-container.computer .leader-img {
   background-image: url('../images/rakou.jpg');
}

.board-container.computer .strategist-img {
   background-image: url('../images/YUUSHUN.jpg');
}
.ships-container .leader-img,
.board-container.human .leader-img {
   background-image: url('../images/rai.jpg');
}

.ships-container .strategist-img,
.board-container.human .strategist-img {
   background-image: url('../images/SISHIN-DAIGAKUYA.jpg');
}

.board-container .leader-img,
.board-container .strategist-img {
   border-radius: 1rem;
   width: 120px;
   flex-grow: 1;
   background-repeat: no-repeat;
   background-attachment: local;
   background-position: center;
   background-size: 100% 100%;
   box-shadow: 0 0 10px var(--borderColor);
   color: var(--white);
   display: flex;
   justify-content: center;
   align-items: end;
}
.ships-container .leader-img,
.ships-container .strategist-img {
   width: 40px;
   height: 60px;
   border-radius: 4px;
   background-repeat: no-repeat;
   background-attachment: local;
   background-position: center;
   background-size: 100% 100%;
}

.start-page-avatars {
   display: grid;
   grid-template-columns: auto 1fr;
   grid-template-rows: auto auto;
   gap: 5px;
   align-items: center;
}

b {
   font-weight: 700;
}

.end-msg {
   font-size: 1.4rem;
   font-family: 'Macondo', cursive;
}

.end-img {
   width: 400px;
   border-radius: 1rem;
}

.end-dialog {
   padding: 1.4rem;
   border-radius: 1rem;
   background-color: #020617;
   color: var(--white);
   border: none;
   box-shadow: 0 0 10px var(--borderColor);
}

.end-modal-content {
   display: flex;
   flex-direction: column;
   align-content: center;
   align-items: center;
   gap: 1rem;
}
